<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js"></script>
</head>
<header>
    <div class="navbar">
        <ul>
            <li><a href="">link1</a></li>
            <li><a href="">link2</a></li>
            <li><a href="">link3</a></li>
        </ul>
    </div>
</header>
<body>
    
</body>
</html>